/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Welcome; 
	border-collapse: collapse; 
	border-left-style: none; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: none; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: none; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: none; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	cell-padding-left: 5px; 
	cell-padding-top: 0px; 
	cell-padding-bottom: 2px; 
	cell-padding-right: 0px; 
	border-spacing-y: 5; 
	border-spacing-x: 5; 
}

mcTableColumnStyle {
	span: 0; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
	text-align: left; 
	vertical-align: top; 
}

mcTableHeadStyle {
	span: 0; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableFootStyle {
	span: 0; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Welcome
{
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 5px 5px;
	mc-cell-padding: 0px 0px 2px 5px;
}

.TableStyle_Welcome_Head_0_0
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Head_0_0 p
{
	
}

.TableStyle_Welcome_Head_0_0_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Welcome_Head_0_0_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Head_0_0_RowSep p
{
	
}

.TableStyle_Welcome_Head_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Head_0_0_ColSep p
{
	
}

.TableStyle_Welcome_Head_0_0_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Welcome_Head_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Head_0_0_RowEnd p
{
	
}

.TableStyle_Welcome_Head_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Welcome_Head_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Welcome_Head_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Head_0_0_ColEnd p
{
	
}

.TableStyle_Welcome_Body_0_0
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_ColSep
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_RowEnd
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Welcome_Body_0_0_ColEnd
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Welcome_Foot_0_0
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Foot_0_0 p
{
	
}

.TableStyle_Welcome_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Welcome_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Foot_0_0_RowSep p
{
	
}

.TableStyle_Welcome_Foot_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Foot_0_0_ColSep p
{
	
}

.TableStyle_Welcome_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Welcome_Foot_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Welcome_Foot_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Welcome_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Welcome_Foot_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Welcome_Foot_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.TableStyle_Welcome_Foot_0_0_ColEnd p
{
	
}


