.bundle
db/*.sqlite3
log/*.log
tmp/**/*
/.idea/
log
tmp
work
target
package
rails/.bundle
rails/db/*.sqlite3
rail/log/*.log
rails/tmp/**/*
/.idea/
rails/log
rails/src/main/webapp/WEB-INF/web.xml
rails/src/test/resources/server.keystore
rails/tmp
rails/work