<settings>
  <mirrors>
    <mirror>
      <id>gems.saumya.de</id>
      <name>gems.saumya.de</name>
      <url>http://rubygems-proxy.torquebox.org/releases</url>
      <mirrorOf>rubygems-releases</mirrorOf>
    </mirror>
  </mirrors>
  <pluginGroups>
    <pluginGroup>de.saumya.mojo</pluginGroup>
  </pluginGroups>
  <profiles>
  <profile>
    <id>sonatype-snapshots</id>
    <pluginRepositories>
      <pluginRepository>
        <id>sonatype-snapshots</id>
        <name>Sonatype Maven Repository</name>
        <url>http://oss.sonatype.org/content/repositories/snapshots</url>
        <releases>
          <enabled>false</enabled>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
      </pluginRepository>
    </pluginRepositories>
  </profile>
  </profiles>
</settings>
