<div id="content-main">

  <div id="content-wrapper">
    <div id="content-body" class="full-report">
      <div id="report_csv">
        <%= link_to 'Reports Menu', reports_path %>
        <%= render :partial => 'portal_csv' %>
      </div>

    </div>
  </div>

  <div class="clear"></div>
</div>