/*<meta />*/

body.popup
{
	leftmargin: 18;
	background-color: #dff3ff;
}

body
{
	font-family: Arial;
	background-color: #ffffff;
}

h1
{
	font-weight: bold;
	font-size: 14pt;
	color: #006699;
	font-family: "Trebuchet MS", sans-serif;
}

li.h1
{
	font-weight: bold;
	font-size: 14pt;
	color: #006699;
	font-family: "Trebuchet MS", sans-serif;
}

h2
{
	font-weight: bold;
	font-size: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-bottom: 0pt;
	mc-next-class: body;
	mc-next-tag: p;
}

li.h2
{
	font-weight: bold;
	font-size: 12pt;
	font-family: "Trebuchet MS", sans-serif;
}

h3
{
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	font-family: "Trebuchet MS", sans-serif;
	margin-bottom: 0pt;
	mc-heading-level: 0;
}

li.h3
{
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	font-family: "Trebuchet MS", sans-serif;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
	margin-bottom: 0pt;
	mc-heading-level: 0;
}

li.h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
	mc-heading-level: 0;
}

li.h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

li.h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #000000;
	font: 'Trebuchet MS';
	font-family: 'Trebuchet MS', ' sans-serif';
}

li.p
{
	font-size: 12.0pt;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.expandtext
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

a.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

a.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

p.body
{
	margin-top: 4pt;
	margin-bottom: 12pt;
	line-height: 120%;
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
}

li.P-body
{
	line-height: 120%;
	font-family: "Trebuchet MS", sans-serif;
}

p.Bullet
{
	margin-bottom: 6pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 4pt;
	text-indent: -0.2in;
	list-style: rh-list;
	x-list-class: rl-P-Bullet;
	x-list-level: 1;
	margin-left: 0.40in;
	font-weight: normal;
	mc-auto-number-format: '●  ';
}

li.P-Bullet
{
	font-family: "Trebuchet MS", sans-serif;
	list-style: rh-list;
	x-list-class: rl-P-Bullet;
	x-list-level: 1;
}

p.Cell
{
	font-size: 11pt;
	font-family: 'Trebuchet MS';
}

li.P-Cell
{
	
}

p.bodypic
{
	margin-top: 9pt;
	margin-bottom: 9pt;
	font-family: "Trebuchet MS", sans-serif;
}

li.P-bodypic
{
	font-family: "Trebuchet MS", sans-serif;
}

span.itemname
{
	color: #204550;
	font-weight: bold;
	font-style: normal;
}

p.Number
{
	font-family: "Trebuchet MS", sans-serif;
	line-height: 120%;
	list-style: rh-list;
	x-list-class: rl-P-Number;
	x-list-level: 1;
	margin-left: 0.457in;
	mc-auto-number-class: Number_character;
	text-indent: -0.34in;
	margin-bottom: 18pt;
	margin-top: 8pt;
	mc-auto-number-offset: 10px;
	mc-auto-number-position: inside-head;
	mc-auto-number-format: 'N:{n+}.   ';
}

li.P-Number
{
	font-family: "Trebuchet MS", sans-serif;
	line-height: 120%;
	list-style: decimal;
}

p.indpic
{
	margin-top: 9pt;
	margin-bottom: 9pt;
	margin-left: 0.46in;
}

li.p-indpic
{
	
}

p.Indent
{
	margin-top: 4pt;
	margin-bottom: 12pt;
	line-height: Normal;
	font-family: "Trebuchet MS", sans-serif;
	margin-left: .457in;
}

li.P-Indent
{
	line-height: Normal;
	font-family: "Trebuchet MS", sans-serif;
}

p.Box
{
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 4pt;
	margin-bottom: 4pt;
}

li.P-Box
{
	font-family: "Trebuchet MS", sans-serif;
}

a:link
{
	color: #006699;
	text-decoration: underline;
}

a:visited
{
	color: #006699;
}

a:hover
{
	background-color: #006699;
	color: #ffffff;
}

li.P-Style1
{
	
}

p.BulletIndent
{
	margin-bottom: 6pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 4pt;
	list-style: rh-list;
	x-list-class: rl-P-BulletIndent;
	x-list-level: 1;
	text-indent: -0.25in;
	margin-left: 79px;
	mc-auto-number-format: '●  ';
}

li.P-BulletIndent
{
	font-family: "Trebuchet MS", sans-serif;
	list-style: disc;
}

li.P-Letter
{
	font-family: "Trebuchet MS", sans-serif;
	line-height: 120%;
	list-style: lower-alpha;
}

rh-list.rl-P-Bullet
{
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: disc;
}

rh-list.rl-P-BulletIndent
{
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: disc;
}

span.Number_character
{
	font-size: 14pt;
	color: #808080;
	font-weight: bold;
	font-family: "Trebuchet MS";
}

rh-list.rl-P-Number
{
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
	x-lvl-1-pfx-class: Number_character;
}

rh-seq.vlah
{
	
}

rh-list.rl-P-Letter
{
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: lower-alpha;
}

p.BulletIndent2
{
	margin-bottom: 6pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 4pt;
	list-style: rh-list;
	x-list-class: rl-P-BulletIndent;
	x-list-level: 1;
	text-indent: -0.25in;
	margin-left: 101px;
}

p.Indent2
{
	margin-top: 4pt;
	margin-bottom: 12pt;
	line-height: Normal;
	font-family: "Trebuchet MS", sans-serif;
	margin-left: 0.75in;
}

MadCap|expandingHead.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

MadCap|glossaryTerm.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.glossterm
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

p.Number1
{
	font-family: 'Trebuchet MS', sans-serif;
	line-height: 120%;
	list-style: rh-list;
	x-list-class: rl-P-Number;
	x-list-level: 1;
	margin-left: 0.457in;
	text-indent: -0.34in;
	mc-auto-number-class: Number_character;
	margin-bottom: 18pt;
	margin-top: 8pt;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	mc-auto-number-format: 'N:{n=1}.   ';
}

p.Letter1
{
	font-family: 'Trebuchet MS', sans-serif;
	margin-top: 4pt;
	line-height: 120%;
	margin-bottom: 8pt;
	list-style: rh-list;
	x-list-class: rl-P-Letter;
	x-list-level: 1;
	text-indent: -0.28in;
	margin-left: 0.75in;
	mc-auto-number-offset: 20px;
	mc-auto-number-format: 'L:{a=1}.  ';
}

MadCap|xref
{
	mc-format: '{paratext}';
	color: #006699;
}

@media print
{
	p.Chapter
	{
		font-size: 16pt;
		color: #a9a9a9;
	}

	MadCap|xref
	{
		mc-format: '{quote}{paratext}{quote} on page {page}';
	}

	p.Note
	{
		mc-auto-number-format: '{b}Note:{/b} ';
	}

	a:link
	{
		color: #000000;
		text-decoration: none;
	}

	a:visited
	{
		color: #000000;
		text-decoration: none;
	}

	p.Letter1
	{
		mc-auto-number-format: 'L:{a=1}.  ';
	}

	p.Letter
	{
		mc-auto-number-format: 'L:{a+}.  ';
	}

	p.Number1
	{
		mc-auto-number-format: 'N:{n=1}.  ';
		mc-auto-number-position: inside-head;
		line-height: normal;
	}

	p.Number
	{
		mc-auto-number-format: 'N:{n+}.  ';
		line-height: normal;
	}

	body.popup
	{
		background-color: #cff0ff;
	}

	p.ChapterNum
	{
		font-size: 16pt;
		mc-auto-number-format: '{chapnum}';
		margin-top: 10pt;
		margin-bottom: 10pt;
	}

	td.ChapterNum
	{
		vertical-align: middle;
		padding-bottom: 0px;
		padding-top: 0px;
	}

	span.bold
	{
		font-weight: bold;
		font-style: normal;
	}

	body.header_right
	{
		background-image: url('../Images/header_right.png');
	}

	body.header_left
	{
		background-image: url('../Images/header_left.png');
	}

	p.header_left
	{
		color: #ffffff;
		font-family: Arial;
		font-style: italic;
		text-align: right;
		padding-right: 0.5in;
	}

	span.Number_character
	{
		font-size: 12pt;
	}
}

MadCap|xref.page_number_only
{
	mc-format: '{page}';
}

MadCap|xref.smart_page_ref
{
	mc-format: 'See {quote}{paratext}{quote} {pageref}';
}

p.NoteIndent
{
	margin-top: 4pt;
	margin-bottom: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-left: .457in;
	mc-leader-format: 'none';
	background-color: #f0ffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #add8e6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #add8e6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #add8e6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #add8e6;
	line-height: 18px;
	mc-auto-number-format: '{b}Note: {/b}';
}

p.Note
{
	margin-top: 4pt;
	margin-bottom: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	mc-leader-format: 'none';
	background-color: #f0ffff;
	mc-auto-number-format: '{b}Note: {/b}';
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #add8e6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #add8e6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #add8e6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #add8e6;
	margin-left: 0;
	line-height: 18px;
}

p.Important
{
	margin-top: 4pt;
	margin-bottom: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	mc-leader-format: 'none';
	background-color: #f0ffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #add8e6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #add8e6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #add8e6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #add8e6;
	margin-left: 0;
	line-height: 18px;
	mc-auto-number-format: '{b}Important! {/b}';
}

p.tablehead
{
	line-height: 120%;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 11.0pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: #ffffff;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

@media non-print
{
	MadCap|xref
	{
		mc-format: '{paratext}';
		color: #006699;
	}

	p.Number
	{
		mc-auto-number-offset: 30px;
		mc-auto-number-position: outside-head;
		mc-auto-number-format: 'N:{n+}.';
	}

	p.Number1
	{
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 30px;
		mc-auto-number-format: 'N:{n=1}.';
	}
}

MadCap|xref:hover
{
	color: #ffffff;
}

p.LinkList
{
	margin-top: 4pt;
	line-height: 120%;
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	margin-bottom: 4pt;
}

td
{
	font-family: 'Trebuchet MS', ' sans-serif';
	padding-bottom: 3px;
	padding-top: 7px;
}

td.ChapterNum
{
	padding-bottom: 0px;
	padding-top: 0px;
	vertical-align: middle;
}

p.ChapterNum
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

a.weblink
{
	
}

p.Letter
{
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 4pt;
	line-height: 120%;
	margin-bottom: 8pt;
	list-style: rh-list;
	x-list-class: rl-P-Letter;
	x-list-level: 1;
	text-indent: -0.28in;
	margin-left: 0.75in;
	mc-auto-number-offset: 20px;
	mc-auto-number-format: 'L:{a+}.  ';
}

p.Warning
{
	margin-top: 4pt;
	margin-bottom: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	mc-leader-format: 'none';
	background-color: #f0ffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #add8e6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #add8e6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #add8e6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #add8e6;
	margin-left: 0;
	line-height: 18px;
	mc-auto-number-format: '{b}Warning! {/b}';
}

h1.no_TOC
{
	mc-heading-level: 0;
}

body.header_right
{
	font-family: Arial;
	background-color: #ffffff;
}

p.header_left
{
	
}

@media Frame
{
	span.Number_character
	{
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 12pt;
		letter-spacing: 0em;
		color: #7f7f7f;
		line-height: 14pt;
		text-decoration: none;
	}

	span.itemname
	{
		font-family: Arial;
		font-weight: normal;
		font-style: italic;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #0056b8;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Body
	{
		text-align: left;
		margin-left: 1.1in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 7pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 14pt;
		text-decoration: none;
	}

	p.Bodypic
	{
		text-align: left;
		margin-left: 1.1in;
		margin-right: 0in;
		margin-top: 12pt;
		margin-bottom: 12pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 14pt;
		text-decoration: none;
	}

	p.Footer
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: Arial;
		font-weight: normal;
		font-style: italic;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
	}

	h2
	{
		text-align: left;
		margin-left: 0.1in;
		margin-right: 0in;
		margin-top: 40pt;
		margin-bottom: 3pt;
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 16pt;
		letter-spacing: 0em;
		color: #7f7f7f;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 16pt;
		text-decoration: none;
		page-break-before: auto;
	}

	h3
	{
		text-align: left;
		margin-left: 0.65in;
		margin-right: 0in;
		margin-top: 32pt;
		margin-bottom: 3pt;
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 12pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 14pt;
		text-decoration: none;
		mc-heading-level: 0;
	}

	h4
	{
		text-align: left;
		margin-left: 1.1in;
		margin-right: 0in;
		margin-top: 22pt;
		margin-bottom: 0pt;
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 14pt;
		text-decoration: none;
		mc-heading-level: 0;
	}

	p.Number1
	{
		text-align: left;
		margin-left: 1.43in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 7pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		text-decoration: none;
		text-indent: -0.28in;
		line-height: normal;
		mc-hyphenate: never;
		mc-auto-number-offset: 26.88px;
		mc-auto-number-position: none;
		mc-auto-number-class: Number_character;
		mc-auto-number-format: 'S: {n=1}.	';
	}

	p.Number
	{
		text-align: left;
		margin-left: 1.43in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 7pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		text-decoration: none;
		text-indent: -0.28in;
		line-height: normal;
		mc-hyphenate: never;
		mc-auto-number-offset: 26.88px;
		mc-auto-number-position: none;
		mc-auto-number-class: Number_character;
		mc-auto-number-format: 'S: {n+}.	';
	}

	p.Letter1
	{
		text-align: left;
		margin-left: 1.7 in;
		text-indent: -0.17 in;
		margin-top: 2pt;
		margin-bottom: 7pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'L:{a=1}.  ';
		mc-auto-number-position: none;
	}

	p.Letter
	{
		text-align: left;
		margin-top: 2pt;
		margin-bottom: 7pt;
		text-indent: -0.17 in;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		margin-left: 1.7 in;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'L:{a+}.  ';
		mc-auto-number-position: none;
	}

	p.Bullet
	{
		text-align: left;
		margin-left: 1.43in;
		margin-right: 0in;
		margin-top: 1pt;
		margin-bottom: 6pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: '• ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 14.4px;
		line-height: 14pt;
		text-decoration: none;
		text-indent: -0.15in;
	}

	table.Default
	{
		margin-left: 2in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		border-spacing-x: 0;
		border-spacing-y: 0;
		border-collapse: collapse;
		border-color: black;
		border-top-style: none;
		border-bottom-style: none;
		border-right-style: none;
		border-left-style: none;
	}

	td.ChapterNum
	{
		padding-bottom: 0px;
		padding-top: 0px;
		vertical-align: middle;
	}

	td.CellClass_3347064075
	{
		padding-left: 0pt;
		padding-right: 0pt;
		padding-top: 0pt;
		padding-bottom: 0pt;
	}

	p.ChapterNum
	{
		text-align: center;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 16pt;
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 48pt;
		letter-spacing: 0em;
		color: #bfbfbf;
		mc-hyphenate: never;
		mc-auto-number-format: 'C:{chapnum}{ =0}{ =0}';
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0px;
		text-indent: 0px;
		line-height: 58pt;
		text-decoration: none;
	}

	p.Note
	{
		font-family: Arial;
		margin-top: 12pt;
		margin-bottom: 14pt;
		margin-left: 1.1in;
		font-family: Arial;
		font-size: 11pt;
		font-style: italic;
	}

	p.NoteIndent
	{
		font-family: Arial;
		margin-top: 12pt;
		margin-bottom: 14pt;
		margin-left: 1.43in;
		font-family: Arial;
		font-size: 11pt;
		font-style: italic;
	}

	p.Important
	{
		font-family: Arial;
		margin-top: 12pt;
		margin-bottom: 14pt;
		margin-left: 1.1in;
		font-family: Arial;
		font-size: 11pt;
		font-style: italic;
	}

	td.CellClass_873761727
	{
		border-left-style: none;
		padding-left: 0pt;
		padding-right: 0pt;
		padding-top: 0pt;
		padding-bottom: 0pt;
	}

	h1
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 24pt;
		letter-spacing: 0em;
		color: #bfbfbf;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 29pt;
		text-decoration: none;
		vertical-align: middle;
		display: none;
	}

	MadCap|xref.Chapter_Title
	{
		mc-format: 'Chapter {chapnum}, “{paratext}';
	}

	td.CellClass_3764070425
	{
		border-bottom-style: none;
		padding-left: 0pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 0pt;
	}

	p.Box
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 7pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		text-indent: 0px;
		line-height: 12pt;
		text-decoration: none;
	}

	td.CellClass_2362758036
	{
		border-bottom-style: none;
		border-left-style: none;
		padding-left: 0pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 0pt;
	}

	td.CellClass_658580486
	{
		padding-left: 0pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 0pt;
	}

	td.CellClass_2830310778
	{
		border-left-style: none;
		padding-left: 0pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 0pt;
	}

	td.CellClass_988946108
	{
		border-bottom-style: none;
		padding-left: 4pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 4pt;
	}

	td.CellClass_445465568
	{
		border-bottom-style: none;
		border-left-style: none;
		padding-left: 4pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 4pt;
	}

	MadCap|xref.page_number_only
	{
		mc-format: '{page}';
	}

	td.CellClass_4156972081
	{
		padding-left: 4pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 4pt;
	}

	td.CellClass_2035013491
	{
		border-left-style: none;
		padding-left: 4pt;
		padding-right: 2pt;
		padding-top: 2pt;
		padding-bottom: 4pt;
	}

	MadCap|xref._Procedure_Name__on_page_y
	{
		mc-format: '“{paratext}” on page {page}';
	}

	td.CellClass_4222104296
	{
		border-bottom-style: none;
		padding-left: 6pt;
		padding-right: 6pt;
		padding-top: 6pt;
		padding-bottom: 4pt;
	}

	td.CellClass_1695636039
	{
		border-bottom-style: none;
		border-left-style: none;
		padding-left: 6pt;
		padding-right: 6pt;
		padding-top: 6pt;
		padding-bottom: 4pt;
	}

	td.CellClass_4253963945
	{
		padding-left: 6pt;
		padding-right: 6pt;
		padding-top: 6pt;
		padding-bottom: 4pt;
	}

	td.CellClass_1347252782
	{
		border-left-style: none;
		padding-left: 6pt;
		padding-right: 6pt;
		padding-top: 6pt;
		padding-bottom: 4pt;
	}

	a
	{
		text-decoration: none;
		color: #000000;
	}

	p.Indent
	{
		margin-left: 1.43in;
		font-family: Arial;
		font-size: 11pt;
	}

	p.indpic
	{
		margin-left: 1.43in;
		font-family: Arial;
		font-size: 11pt;
	}

	p.BulletIndent
	{
		text-align: left;
		text-indent: -.23 in;
		margin-left: 1.76 in;
		margin-right: 0in;
		margin-top: 1pt;
		margin-bottom: 6pt;
		font-family: Arial;
		font-weight: normal;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: '• ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 14.4px;
		line-height: 14pt;
		text-decoration: none;
	}

	MadCap|xref
	{
		mc-format: '“{paratext}” on page {page}';
	}

	p.ChapterNum
	{
		mc-auto-number-format: ' ';
		vertical-align: middle;
		height: 52pt;
		margin: 0;
		display: block;
	}

	table
	{
		width: 5.05in;
	}

	h1
	{
		vertical-align: middle;
	}

	tr
	{
		
	}

	span.Number_character
	{
		font-size: 11pt;
	}

	a:link
	{
		text-decoration: none;
		color: #000000;
	}

	a:visited
	{
		color: #000000;
		text-decoration: none;
	}

	table
	{
		border-spacing: 0;
	}

	h5
	{
		margin-bottom: 0em;
		font-style: italic;
		margin-left: 1.1in;
		font-family: Arial;
		font-weight: normal;
		font-size: 11pt;
		mc-heading-level: 0;
	}

	a.weblink
	{
		text-decoration: underline;
	}

	p.Warning
	{
		font-family: Arial;
		margin-top: 12pt;
		margin-bottom: 14pt;
		margin-left: 1.1in;
		font-family: Arial;
		font-size: 11pt;
		font-style: italic;
	}

	h1.no_TOC
	{
		mc-heading-level: 0;
	}

	h6
	{
		mc-heading-level: 0;
	}
}

p.copyrightfooter
{
	font-size: 8pt;
	color: #274e6f;
	font-family: 'Trebuchet MS', ' sans-serif';
}

MadCap|xref
{
	mc-format: '{paratext}';
	color: #006699;
}

p.Number
{
	mc-auto-number-offset: 30px;
	mc-auto-number-position: outside-head;
	mc-auto-number-format: 'N:{n+}.';
}

p.Number1
{
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 30px;
	mc-auto-number-format: 'N:{n=1}.';
}

