<p id="notice"><%= notice %></p>

<p>
  <b>Database name:</b>
  <%= @data_source.database_name %>
</p>


<%= link_to 'Edit', edit_data_source_path(@data_source) %> |
<%= link_to 'Back', data_sources_path %>
